.root {
  @apply sticky top-0 left-0 bg-[#13181b] z-40 transition-all duration-150 h-full w-full max-w-[160px];
}

.link {
  @apply text-white transition-all duration-150 py-2 font-semibold rounded px-2;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.031);
}

.linkDisable {
  position: relative;
  @apply text-white transition-all duration-150 py-2 font-semibold rounded px-2 opacity-30 cursor-default;
}

.linkDisable::after {
  content: "Soon";    
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
  scale: .7;
}


.button {
  @apply rounded-md w-full text-center bg-[#4cb2b6] text-white cursor-pointer inline-flex px-5 leading-6  transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-4 border border-transparent items-center;
}

.button_secondary {
  @apply rounded-md w-full text-center bg-white text-[#4cb2b6] cursor-pointer inline-flex px-5 leading-6  transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-4 border border-transparent items-center;
}

.button:hover,
.button_secondary:hover {
  @apply opacity-80;
}

.button:focus {
  @apply outline-none text-zinc-100 ring-2 ring-opacity-50;
}

.logo {
  @apply mb-4 cursor-pointer rounded-full transform duration-100 ease-in-out;
}

.link.disable {
  opacity: .6;
}